
doctype html
html(lang="en")
  head
    title= Title
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Test Server express
    h2= name
    <br/>
    table
      tr
        th id
        th name
      each elem,i in tab
        tr
          th !{elem.id}
          td !{elem.name}

    #container.col
    br